@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* General reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Header styling */
header {
    position: fixed; /* Make the header fixed at the top */
    top: 0;
    width: 100%;
    background-color: #354e51;
    color: #fff;
    padding: 22px 42px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure header stays above other content */
    }
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
.logo {
    font-size: 24px;
    color: white;
    font-weight: 600;
    }
.nav-buttons {
    display: flex;
    gap: 10px;
    }
.nav-btn {
    background: #97a59e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    }  
.nav-btn:hover {
        background: #62726a;
    }